@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Finlandica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Roboto+Slab&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

.carousel {
  border-radius: 10px;
  color: aliceblue;
  position: relative;
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.btn {
  display: flex;
  align-items: center;
  z-index: 500;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 30px;
  transition: width 0.5s cubic-bezier(0.36, 0.55, 0.02, 1.15);
  background-color: rgba(104, 104, 104, 0.244);
}

.btn:hover {
  width: 40px;
}

.lt {
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rt {
  right: 0;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btnimg {
  height: 20px;
}

.track_container {
  height: 100%;
  width: 100%;
  margin: 2.5vw;
  overflow: hidden;
}

.carousel_track {
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 1s ease 0s;
}

.slide {
  height: 350px;
  width: 95vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
}

.a {
  background-repeat: no-repeat;
  background-position: 10% 5%;
  background-image: linear-gradient(to right, rgba(4, 4, 4, 0.7), rgba(36, 36, 36, 0.7)), url("./resources/wp9110849-86-eighty-six-wallpapers.jpg");
}

.b {
  background-repeat: no-repeat;
  background-position: 10% 5%;
  background-image: linear-gradient(to right, rgba(4, 4, 4, 0.7), rgba(36, 36, 36, 0.7)), url("./resources/86-eighty-six-wallpaper-8.jpg");
}

.c {
  background-repeat: no-repeat;
  background-position: 10% 5%;
  background-image: linear-gradient(to right, rgba(4, 4, 4, 0.7), rgba(36, 36, 36, 0.7)), url("./resources/wp9110891-86-eighty-six-wallpapers.jpg");
}

.carousel_book_cover {
  z-index: 100;
  height: 300px;
  margin: 0 20px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(161, 161, 161);
  transition: all 0.5s;
}

.slide:hover .carousel_book_cover {
  transform: scale(1.05);
}

.carousel_card {
  color: rgb(218, 218, 218);
  flex-direction: column;
}

.carousel_card .c_book_name {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 35px;
  margin: 5px 0 5px 0;
}

#firstletter {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 50px;
  display: inline-block;
  transform: rotate(0deg) scale(1) translate(-4px);
  transition: transform 0.8s cubic-bezier(0.69, 0.32, 0.32, 1.1);
}

.slide:hover #firstletter {
  transform: rotate(360deg) scale(1) translate(0px);
}

.carousel_card .c_author {
  font-family: "Roboto Slab", serif;
  color: rgb(218, 218, 218);
  font-size: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0 5px 0;
  transition: margin 0.5s, color 1s;
}

.slide:hover .c_author {
  transform: scale(1);
  margin: 0 0 0 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(255, 255, 255);
}

.carousel_card .rating {
  font-size: x-large;
}

.rating {
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.star {
  display: inline-block;
  transform: rotate(170deg) scale(1);
  transition: all 0.6s;
}

.star:nth-of-type(2n-1) {
  transform: rotate(-170deg) scale(1);
}

.slide:hover .star {
  transform: rotate(0deg) scale(1.2);
  letter-spacing: 0;
}

.carousel_synopsis {
  color: aliceblue;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(171, 171, 171));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: large;
  margin: 0;
}/*# sourceMappingURL=carousel.css.map */